

.buscador button {
    padding: 5px 8px;
    background-color: #75695E;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 7px;
    cursor: pointer;
    width: 60px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    padding: 20px;
    border-radius: 8px;
    width: 400px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
    margin-top: 20px;
}


input, select, textarea, button {
    width: 100%; 
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
}




footer {
    text-align: center;
    padding: 20px;
    background-color: #ddd6ce;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer h6 {
    color: #75695E;
}