.contenedor_concierto h2{
    color: black;
    text-align: center;
    padding: 40px;
}

/*concierto1*/
.contenedor_concierto1{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto1{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 10;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}

/*concierto2*/
.contenedor_concierto2{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto2{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}
/*concierto3*/
.contenedor_concierto3{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto3{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}

/*concierto4*/
.contenedor_concierto4{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto4{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}

/*concierto5*/
.contenedor_concierto5{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto5{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}

/*concierto6*/
.contenedor_concierto6{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto6{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}


/*concierto7*/
.contenedor_concierto7{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto7{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}

/*concierto8*/
.contenedor_concierto8{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto8{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}

/*concierto9*/
.contenedor_concierto9{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto9{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}


/*concierto10*/
.contenedor_concierto10{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto10{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}


/*concierto11*/
.contenedor_concierto11{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto11{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}

/*concierto12*/
.contenedor_concierto12{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto12{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}

/*concierto13*/
.contenedor_concierto13{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto13{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}


/*concierto14*/
.contenedor_concierto14{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto14{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}


/*concierto15*/
.contenedor_concierto15{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto15{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}

/*concierto16*/
.contenedor_concierto16{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto16{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}


/*concierto17*/
.contenedor_concierto17{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto17{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}

/*concierto18*/
.contenedor_concierto18{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 0;
}

.historia_concierto18{
    text-align: center;
    width: 80%; 
}

.historia_texto h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.historia_texto p{
    text-align: left;
    margin: 0 10px;
}

.main{
    flex: 1;
}

