/* Reset global de márgenes y padding Taylor Swift */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos generales del body Taylor Swift*/

body {
    background-color: #EDECE8;
    color: #000000;
    height: 100vh;
    margin: 0;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
}

/* Estilos del encabezado Taylor Swift */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 120px;
    background-color: #ddd6ce;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10; /* Asegura que el encabezado se quede encima */
}

/* Estilos de la logo Taylor Swift*/

.logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 260px;
    height: auto;
}

/* Estilos del buscador Taylor Swift*/

.buscador {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 380px;
}

.buscador input {
    padding: 7px;
    border: 1px solid #fff;
    border-radius: 50px;
    width: 280px;
}

.buscador button {
    padding: 5px 8px;
    background-color: #75695E;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 7px;
    cursor: pointer;
    width: 60px;
}

.buscador button:hover {
    background-color: #5E5046;
}

/* Estilos de la sección de login Taylor Swift*/

.login {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    max-width: 120px;
}

.login img {
    max-width: 120px;
}

/* Menu de navegación Taylor Swift */

.menu_navegacion {
    background-color: #ada49c31;
    color: white;
    padding: 25px;
    position: relative;
    z-index: 5; /* Asegura que se quede debajo del header */
}

.menu_navegacion ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.menu_navegacion li {
    margin: 0 50px;
}

.menu_navegacion a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menu_navegacion a:hover {
    color: #796455; 
}

.texto-formulario h2{
    margin-bottom: 20px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    padding: 20px;
    border-radius: 8px;
    width: 400px; /* Ancho del formulario */
    display: flex;
    flex-direction: column; /* Para apilar los elementos dentro del formulario */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
}

/* Estilos para los inputs, botones, etc. */
input, select, textarea, button {
    width: 100%; /* Asegura que todos los campos ocupen el ancho completo */
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Footer  Taylor Swift*/

footer {
    text-align: center;
    padding: 20px;
    background-color: #ddd6ce;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer h6 {
    color: #75695E;
}